REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_HOST=redis
REDIS_AUTH_DB=0
REDIS_MARKET_DB=1
REDIS_TECH_DB=2
REDIS_FUNDAMENTAL_DB=3
REDIS_PORTFOLIO_DB=4

RABBITMQ_USER=user
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_PASSWORD=


JWT_SECRET=
JWT_ALGORITHM=
JWT_ACCESS_EXPIRE=
JWT_REFRESH_EXPIRE=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
ALPHA_VANTAGE_API_KEY=
POLYGON_API_KEY=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_AUTH_DB=auth_db
POSTGRES_MARKET_DB=market_db
POSTGRES_ANALYSIS_DB=analysis_db
POSTGRES_PORTFOLIO_DB=portfolio_db

GRAFANA_ADMIN_PASSWORD=

POLYGON_KEY=
ALPHA_VANTAGE_KEY=
PRICE_FETCH_INTERVAL_SECONDS=


MARKET_GRPC_HOST=
MARKET_GRPC_PORT=